---
import type { CollectionEntry } from "astro:content";
import { ChevronRightIcon, NotebookPen } from "lucide-react";
import getReadingTime from "reading-time";

interface Props {
  article: CollectionEntry<"blog">;
}

const { article } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "2-digit",
  month: "short",
  year: "numeric",
}).format(article.data.pubDatetime);
---

<a
  href={`/articles/${article.id}`}
  class="group flex w-full cursor-pointer items-center"
>
  <NotebookPen className="mx-5 size-5 shrink-0 text-muted-foreground" />

  <div
    class="flex flex-1 flex-col items-start justify-center gap-3 border-l p-4"
  >
    <div class="flex w-full items-center justify-between text-left select-none">
      <h3
        class="text-lg font-semibold underline-offset-6 group-hover:underline"
      >
        {article.data.title}
      </h3>

      <ChevronRightIcon
        className="size-4 shrink-0 text-sm text-muted-foreground transition-transform duration-150 group-hover:translate-x-1"
      />
    </div>

    <ul class="flex flex-wrap items-center justify-start gap-x-4">
      {
        article.data.tags.map(tag => (
          <li class="text-xs font-semibold">#{tag}</li>
        ))
      }
    </ul>
    <p class="text-xs text-foreground">
      {formattedDate} | {getReadingTime(article.body!).text}
    </p>
  </div>
</a>
