---
import { ChevronUp } from "lucide-react";
import { buttonVariants, cn } from "@/lib/utils";
---

<script>
  document.addEventListener("astro:page-load", () => {
    function handleScroll() {
      const button = document.querySelector("#back-to-top");
      if (!button) return;
      if (window.scrollY < window.innerHeight) {
        button.classList.add("scale-0");
      } else {
        button.classList.remove("scale-0");
      }
    }

    function backToTop() {
      const button = document.querySelector("#back-to-top");
      if (!button) return;

      button.addEventListener("click", () => {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
      });

      // Check scroll position on page load and scroll events
      handleScroll();
      window.addEventListener("scroll", handleScroll);
    }

    // Initialize the back to top functionality
    backToTop();
  });

  /* Go to page start after page swap */
  document.addEventListener("astro:after-swap", () => {
    window.scrollTo({ left: 0, top: 0, behavior: "instant" });

    // Need to wait a moment for the button to be available in the DOM after swap
    setTimeout(() => {
      const button = document.querySelector("#back-to-top");
      if (!button) return;

      if (window.scrollY < window.innerHeight) {
        button.classList.add("scale-0");
      } else {
        button.classList.remove("scale-0");
      }
    }, 10);
  });
</script>
<button
  id="back-to-top"
  aria-label="back-to-top-button"
  title="Back to Top Button"
  class={cn(
    buttonVariants({ size: "icon" }),
    "fixed right-4 bottom-[4rem] scale-0 z-50 cursor-pointer duration-150 transition-transform rounded-full lg:left-[calc(100vw/2+400px)]"
  )}
>
  <ChevronUp />
</button>
