---
import { SOCIAL_LINKS } from "@/lib/constants";
---

<footer class="w-full border-t border-dashed md:border-b">
  <div
    class="mx-auto flex max-w-3xl flex-col-reverse items-center justify-between gap-4 border-dashed px-4 py-3 md:border-x lg:flex-row"
  >
    <div class="flex items-center justify-center gap-4">
      {
        SOCIAL_LINKS.map(link => (
          <a href={link.url} aria-label={link.name}>
            <link.icon className="size-4 duration-150 hover:text-primary" />
          </a>
        ))
      }
    </div>
  </div>
</footer>
