---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import LinkButton from "@/components/ui/link-btn.astro";

import { ArrowLeft, ArrowRight } from "lucide-react";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      class="flex items-center justify-center gap-3 text-sm"
      aria-label="Pagination"
    >
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        ariaLabel="Previous"
      >
        <ArrowLeft className="inline-block" />
        Previous
      </LinkButton>
      <span class="font-bold">{page.currentPage} </span>/ {page.lastPage}
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        ariaLabel="Next"
      >
        Next
        <ArrowRight className="inline-block" />
      </LinkButton>
    </nav>
  )
}
