---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div
  class="sticky top-18 mt-4 ml-4 hidden max-h-fit min-w-fit flex-col gap-y-3 lg:flex"
>
  <h3 class:list="text-xl">On This Page</h3>
  {
    headings
      .filter(({ depth }) => depth < 3)
      .map(({ slug, text }) => (
        <a
          href={`#${slug}`}
          class:list={[
            "text-sm font-normal text-foreground/70 no-underline duration-75 hover:text-foreground",
          ]}
        >
          • {text}
        </a>
      ))
  }
</div>
