---
import { getCollection } from "astro:content";
import ArticleItem from "@/components/article-item.astro";
import PageLayout from "@/layouts/page-layout.astro";
import Pattern from "@/components/ui/pattern.astro";

import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";

export async function getStaticPaths() {
  const articles = await getCollection("blog");

  return articles
    .map(article => ({
      params: { series: article.data.series || "" },
    }))
    .filter(({ params }) => params.series !== "");
}

const { series } = Astro.params;

const articels = await getCollection("blog");
const seiriesArticles = articels.filter(
  article => article.data.series === series
);

// Page properties
const title = series;
const description = `Deep dive into ${series} a curated series from my software engineering journey.`;
---

<PageLayout backLink="/articles" description={description} title={title}>
  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>Articles</BoxTitle>
    </BoxHeader>
    <div
      class="flex w-full flex-col items-start justify-start divide-y divide-border"
    >
      {seiriesArticles.map(article => <ArticleItem article={article} />)}
    </div>
  </Box>
</PageLayout>
