---
import { capitalizeFirstLetter } from "@/lib/utils";
import Layout from "./layout.astro";

import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer.astro";
import LinkBtn from "@/components/ui/link-btn.astro";
import Pattern from "@/components/ui/pattern.astro";

import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxContent from "@/components/box/content.astro";

import { ArrowLeft } from "lucide-react";

interface Props {
  title: string;
  description: string;
  backLink?: string;
}

const { title, description, backLink } = Astro.props;
---

<Layout title={`${title}`}>
  <Navbar />
  <main class="mx-auto min-h-screen max-w-3xl" aria-label="Main content">
    <Pattern className="h-14">
      {
        backLink && (
          <LinkBtn
            ariaLabel="Back link"
            className="absolute bottom-0 left-2 z-1"
            href={backLink}
          >
            <ArrowLeft />
          </LinkBtn>
        )
      }
    </Pattern>

    <Box>
      <BoxHeader>
        <BoxTitle className="text-2xl !font-black"
          >{capitalizeFirstLetter(title)}</BoxTitle
        >
      </BoxHeader>
      <BoxContent>
        {description}
      </BoxContent>
    </Box>

    <slot />
  </main>
  <Footer />
</Layout>
