---
import { ChevronRightIcon, FolderCodeIcon } from "lucide-react";

import MarkdownRenderer from "@/components/ui/markdown-renderer.astro";
import type { CollectionEntry } from "astro:content";
import Badge from "@/components/ui/badge.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a
  href={`/projects/${project.id}`}
  class="flex cursor-pointer items-center not-last:border-b"
>
  <FolderCodeIcon className="mx-4.5 size-5 shrink-0 text-muted-foreground" />

  <div class="group flex w-full cursor-pointer flex-col gap-y-3 border-l p-4">
    <div class="flex w-full items-center justify-between text-left select-none">
      <h3
        class="text-lg font-semibold underline-offset-6 group-hover:underline"
      >
        {project.data.name}
      </h3>

      <ChevronRightIcon
        className="size-4 shrink-0 text-muted-foreground transition-transform duration-150 group-hover:translate-x-1"
      />
    </div>

    <MarkdownRenderer
      className="text-xs leading-5 font-medium md:text-sm"
      content={project.data.description}
    />

    {
      project.data.technologies.length > 0 && (
        <div class="flex flex-wrap gap-1.5">
          {project.data.technologies.map(technology => {
            return <Badge>{technology}</Badge>;
          })}
        </div>
      )
    }
  </div>
</a>
