---
import { buttonVariants } from "@/lib/utils";

export interface Props {
  href: string;
  ariaLabel?: string;
  disabled?: boolean;
  className?: string;
  target?: string;
  variant?: "default" | "ghost" | "secondary";
}

const {
  href,
  ariaLabel,
  target,
  className,
  disabled = false,
  variant = "ghost",
} = Astro.props;
---

{
  disabled ? (
    <span
      class:list={[
        buttonVariants({ size: "sm", variant }),
        "rounded-full text-muted-foreground hover:bg-transparent hover:text-muted-foreground [&_svg]:size-4",
        className,
      ]}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      {target}
      class:list={[
        buttonVariants({ size: "sm", variant }),
        "!rounded-full",
        className,
      ]}
      aria-label={ariaLabel}
    >
      <slot />
    </a>
  )
}
