---
import { ArrowRight } from "lucide-react";

import { capitalizeFirstLetter } from "@/lib/utils";

interface Props {
  href: string;
  tag: string;
}

const { href, tag } = Astro.props;
---

<a
  href={href}
  class="group flex items-center gap-x-1 rounded-sm decoration-muted-foreground underline-offset-4 duration-150 hover:underline"
>
  <span>#{tag}</span>
  <ArrowRight
    className="size-3.5 scale-0 -rotate-45 duration-75 group-hover:scale-100"
  />
</a>
